body{
    background-color: aqua;
    align-items: center;
}
h1{
    text-align: center;
}
.input_message{
    margin-top: 10px;
    margin-left: 30%;
}
.result{
    margin-top: 2%;
    height: 4vh;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: brown;
}

.label{
    margin-left: 30%;
}

